@keyframes rotate-360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }



@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
