$mainTextColor: #090909;
$secondaryTextColor: #a5a3a3;
$lightTextColor: #353535;
$transparentTextColor: rgba(255, 255, 255, 0.8);
$greyishColor: hsl(0, 0%, 57%);
$lightGrey: #f3f3f39c;
$darkGrey: #121212;
